<h1 class="text-center text-success m-4"> Faculty Data </h1>

<%= link_to " Add Faculty ", new_faculty_path %>

<div class="container">
<table class="table">
<thead class="thead-dark shadow">
<tr>
<th scope="col">Id</th>
<th scope="col">First Name</th>
<th scope="col">Last Name</th>
<th scope="col">DOB</th>
<th scope="col">Mobile</th>
<th scope="col">Email</th>
<th scope="col">Department</th>
</thead>
<tbody>
<% @faculties.each do |faculty| %>
<tr>
<td scope="row"><%= faculty.id %></td>
<td><%= faculty.first_name %></td>
<td><%= faculty.last_name %></td>
<td><%= faculty.dob %></td>
<td><%= faculty.mobile %></td>
<td><%= faculty.email %></td>
<td><%= faculty.designation %></td>
</tr>
<% end %>
</tbody>
</table>

</div>